*.pyc
*.pyproj
*.suo
*.xml
*.log
*.ppk
*.log.*
*.profiler
login.osgconnect.net/
venv/
out/
Domains/Coffee_Robot/Test-CoffeeRobot.pyproj
.idea/Llab-Co.iml
private_ssh_key
MDP/MDP.pyproj.user
osg_credentials.txt
.ipynb_checkpoints/
*.pickle
